<div>
  <h1>マイページ</h1>
  <h2>登録情報</h2>
  <%= link_to "編集する",customers_information_edit_path %>
  <p>名前</p>
  <span><%= @customer.last_name %><%= @customer.first_name %></span>

  <p>カナ</p>
  <span><%= @customer.last_name_kana %><%= @customer.first_name_kana %></span>

  <p>郵便番号</p>
  <%= @customer.postal_code %>

  <p>住所</p>
  <%= @customer.addess %>

  <p>電話番号</p>
  <%= @customer.telephone_number %>

  <p>メールアドレス</p>
  <%= @customer.email %>

  <h4>配送先</h4>
  <%= link_to "一覧を見る", addresses_path %>

  <h4>注文履歴</h4>
  <%= link_to "一覧を見る", orders_path %>
</div>