<div>
  <h1>注文履歴詳細</h1>
  <h3>購入者</h3>
  <span><%= @order.name %></span>

  <h3>注文日</h3>
  <span><%= @order.created_at %></span>

  <h3>お届け先</h3>
  <span><%= @order.address_display%></span>

  <h3>支払い方法</h3>
  <span><%= @order.payment_method_i18n %></span>

  <div>
  <table>
  <thead>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>

        <td><%= (order_detail.item.porice * 1.1).floor %></td>

        <td><%= order_detail.amount %></td>

        <td><%= order_detail.price %></td>

      </tr>
    <% end %>
  </tbody>
  </table>


  <div>
  <table>
  <thead>
      <th>商品小計</th>
      <th>送料</th>
      <th>請求金額</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @order.total_payment - @order.shipping_cost %></td>

        <td><%= @order.shipping_cost %></td>

        <td><%= @order.total_payment %></td>

      </tr>
  </tbody>
  </table>

</div>


</div>