<div>
  <h1>配送先歴登録/一覧</h1>

  <%= form_with model: @address do |f| %>
  <p>郵便番号</p>
  <%= f.text_field :postal_code %>

  <p>住所</p>
  <%= f.text_field :aderss %>

  <p>宛名</p>
  <%= f.text_field :name %>

  <%= f.submit '新規登録' %>
  <% end %>

  <div>
  <table>
  <thead>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
  </thead>
  <tbody>
    <%  @addresses.each do |adderss| %>
      <tr>
        <td><%= adderss.postal_code %></td>

        <td><%= adderss.adderss %></td>

        <td><%= adderss.name %></td>

        <td>
          <%= link_to "編集する", edit_address %>
          <%= link_to "Destroy", address_path(adderss.id), method: :delete %>
        </td>

      </tr>
    <% end %>
  </tbody>
  </table>

</div>

</div>