<div>
  <h1>注文情報入力</h1>
  <%= form_with model: @order,url: orders_confirm_path do |f| %>

  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
<div>
  <h1>お届け先</h1>
  <%= f.radio_button:address_option, 0 %> 住所
  <%= current_customer.address_display %>
</div>

<di>
  <%= f.radio_button:address_option, 1 %>　登録住所
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
</di> 
  
<div>
  <%= f.radio_button:address_option, 2 %>新しい届け先
  
  <h4>郵便番号</h4>
  <%= f.text_field :postal_code %>
  
  <h4>住所</h4>
  <%= f.text_field :address %>
  
  <h4>配送先宛名</h4>
  <%= f.text_field :name %>

</div>

  <%= f.submit '確認画面に進む' %>

  <% end %>

</div>