<div>
  <h1>注文履歴詳細</h1>

  <h2>注文情報</h2>
  <p>注文日</p>
  <span><%= @order.created_at %></span>

  <p>お届け先</p>
  <span><%= @order.address_display%></span>

  <p>支払い方法</p>
  <span><%= @order.payment_method_i18n %></span>

  <h2>注文内容</h2>

  <div>
  <table>
  <thead>
      <th>商品</th>
      <th>単価</th>
      <th>個数</th>
      <th>小計</th>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>

        <td><%= order_detail.item %></td>

        <td><%= order_detail.amount %></td>

        <td><%= order_detail.price %></td>

      </tr>
    <% end %>
  </tbody>
  </table>

</div>

<h2>請求詳細</h2>

<div>
  <table>
  <thead>
      <th>商品小計</th>
      <th>送料</th>
      <th>請求金額</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @order.total_payment - @order.shipping_cost %></td>

        <td><%= @order.shipping_cost %></td>

        <td><%= @order.total_payment %></td>

      </tr>
  </tbody>
  </table>

</div>

</div>