<div>
  <h1>商品一覧</h1>
  <% @item.each do |item| %>
  <%= link_to item_path(item.id) do %>
  <p><%= image_tag item.get_image %></p>
  <% end %>
  <p>商品名</p>
   <span><%= item.name %></span>
   
  <p>商品説明</p>
   <span><%= item.introduction %></span>
   
  <p>価格</p>
   <span><%= item.porice %></span>
   <h3>--------------</h3>
   
  <% end %>
  
</div>