<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul>
        <li>
        <h1>LOGO</h1>
        </li>
        <li>
          <%= link_to 'about', homes_about_path %>
        </li>
        <li>
          <%= link_to '商品一覧', items_path %>
        </li>
        
        <li>
          ログアウト
        </li>
      </ul>
    <%= yield %>
  </body>
</html>
